<html>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <head>
    <title>Simple loans Database</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>$(document).ready(function(){$("table > tbody > tr").hide().slice(0, 50).show();})</script>
  </head>
  <body>
    <div class="head">
        <h1 class = "d-flex justify-content-center ">Simple bank loans peer-to-peer</h1>
    </div>
    <div class="card m-5">
        <div class="card-body ">
            <form action="/create"  method="POST">
              <div class="form-group">
                <label for="lender">Lender</label>
                <input type="text" name="lender" class="form-control" id="lender" aria-describedby="lender" placeholder="Lender Name">
              </div>
              <div class="form-group">
                <label for="borrower">Borrower</label>
                <input type="text" name='borrower' class="form-control" id="borrower" aria-describedby="borrower" placeholder="Borrower Name">
              </div>
              <div class="form-group">
                <label for="ir">Interest Rate %</label>
                <input type="text" name='ir'class="form-control" id="ir" aria-describedby="ir" placeholder="5%">
              </div>
              <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" name='amount' class="form-control" id="amount" aria-describedby="amount" placeholder="385">
              </div>
              <div class="form-group">
                <label for="end">Loan Term in years</label>
                <input type="number" name='end'class="form-control" id="end" aria-describedby="end" placeholder="5">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>



    
    <div class="row d-flex justify-content-center">
      {% for i in data %}
        <div class="card col-md-3 m-2" >
          <div class="card-body">
              {% if i['lender'] %}
                  <label>lender</label>
                  <input class="form-control" style="color: gray;" type="text" value=' {{ i["lender"] }}' readonly> 
              {% else %}
                <form action = '/edit/{{i["id"]}}' method="POST" style='margin: 0rem;'>
                  <div class="row">
                      <div class="col-md-9">
                        <label> Lender</label>
                        <input class="form-control" type="text" name="lender" id="lender" placeholder="Lender Name"> 
                      </div>
                        <div class="col-md-2 mt-4">
                          <button class="btn btn-secondary mt-2" type="submit">Lend</button>
                        </div>
                    </div>
                     <input type="hidden" id="borrower" name="borrower" value="">
                </form>
              {% endif %}
              {% if i['borrower'] %}
              <div class="mt-1">
                <label> Borrower</label>
                <input class="form-control" style="color: gray;" type="text" value=' {{ i["borrower"] }}' readonly>      
              </div>
              {% else %} 
                <form action = '/edit/{{i["id"]}}' method="POST" style='margin: 0rem;'>
                  <div class="row">
                      <div class="col-md-9">
                        <label> Borrower</label>
                        <input class="form-control" type="text" name="borrower" id="borrower" placeholder="Borrower Name"> 
                      </div>
                        <div class="col-md-2 mt-4 ">
                          <button class="btn btn-secondary mt-2" type="submit">Borrow</button>
                        </div>
                    </div>
                     <input type="hidden" id="borrower" name="borrower" value="">
                </form> 
              {% endif %}
              <div class="mt-1 mb-1">
                <label> Amount</label>
                <input class="form-control" style="color: gray;" type="text" value=' {{ i["amount"] }}' readonly>
              </div>
              {% if i['borrower'] and i['lender']  %}
          
              <form action="/pay/{{i['id']}}" method="POST" style='margin: 0rem;' class="mt-">
                <div class="row">
                    <div class="col-md-9 mt-1">
                      <label>Pay part of loan</label>
                      <input class="form-control" type="number" name="paid" id="paid" placeholder="80"> 
                    </div>
                      <div class="col-md-3 mt-3">
                        <button class="btn btn-secondary mt-3" type="submit">Pay</button>
                      </div>
                  </div>
              </form> 
              
                Paid to date <span class="badge badge-secondary mt-4">{{ i["paid"] }}</span> <br>
          
              {% endif %}
              
              Term left <span class="badge badge-secondary mt-4"> {{ i["end"] }} </span> years
            <div class="row mt-4">
              <div class="btn btn-danger">
                <a style="color: black; text-decoration: none;" href="/delete/{{i['id']}}"> delete </a>
              </div> 
            </div>
          </div>
        </div>
      {% endfor %}
    </div>


  </body>
</html>